<mat-card class="chat-card">
  <mat-card-title [textContent]="message.sender"></mat-card-title>
  <mat-card *ngIf="replyMessage">
    <mat-card-title [textContent]="replyMessage.sender"></mat-card-title>
    <mat-card-content [textContent]="replyMessage.message"></mat-card-content>
    <mat-card-footer [textContent]="replyMessage.date"></mat-card-footer>
  </mat-card>
  <mat-card-content [textContent]="message.message"></mat-card-content>
  <mat-card-footer [textContent]="message.date"></mat-card-footer>
</mat-card>
