<div class="d-flex tab-wrapper">
  <div class="col-lg-9 p-0 m-0 h-100">
    <mat-card class="col-lg-10 offset-lg-1 profile-container">
      <div class="row h-100">
        <div class="col-5 offset-1 profile-picture-container" *ngIf="userProfile">
          <div class="profilepic" [ngStyle]="{'background-image':'url('+userProfile.profilePictureLocation +')'}">
          </div>
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>
          <button class="btn btn-success" [disabled]="!selectedFiles"
                  (click)="upload()">Upload
          </button>
        </div>
        <div *ngIf="userProfile" class="col-5 profile-details-container">
          <ul>
            <li>
              <h5>Name</h5>
              {{userProfile.firstName + " " + userProfile.lastName}}
            </li>
            <li>
              <h5>Age</h5>
              {{userProfile.dateOfBirth}}
            </li>
            <li>
              <h5>E-mail</h5>
              {{userProfile.email}}
            </li>
            <li>
              <button mat-raised-button (click)="showEditProfileDialog()">Edit details</button>
            </li>
          </ul>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 p-0 m-0">
    <mat-toolbar color="primary">
      <span>Friends</span>
      <span class="example-fill-remaining-space"></span>
    </mat-toolbar>

    <mat-list class="profile-friends p-0">
      <ng-container *ngFor="let friend of friendList">
        <mat-list-item (click)="selectedFriend = friend.email">
          {{friend.email}}
          <mat-divider></mat-divider>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <div class="add-friend">
      <button mat-raised-button (click)="showAddFriendDialog()">Add friend</button>
      <button *ngIf="selectedFriend" mat-raised-button class="alert" (click)="removeFriend()">Remove friend</button>
    </div>
  </div>
</div>
