<div class="d-flex tab-wrapper">
  <div class="col-lg-9 p-0 m-0">
    <mat-card class="col-lg-10 offset-lg-1 profile-container">
      <div class="row h-auto">
        <div class="col-5 offset-1 profile-picture-container" *ngIf="userProfile">
          <img src="{{userProfile.profilePictureLocation}}" alt="{{userProfile.profilePictureLocation}}"
               style="max-width: 100%; max-height: 300px"/>
          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>
          <button class="btn btn-success" [disabled]="!selectedFiles"
                  (click)="upload()">Upload
          </button>
        </div>
        <div *ngIf="userProfile" class="col-5 profile-details-container">
          <ul>
            <li>
              <h5>Name</h5>
              {{userProfile.firstName + " " + userProfile.lastName}}
            </li>
            <li>
              <h5>Age</h5>
              {{userProfile.dateOfBirth}}
            </li>
            <li>
              <h5>E-mail</h5>
              {{userProfile.email}}
            </li>
            <li>
              <button mat-raised-button (click)="showEditProfileDialog()">Edit details</button>
            </li>
          </ul>
        </div>
      </div>
    </mat-card>

    <mat-card class="col-lg-10 offset-lg-1  profile-status-container">
      <div class="col-10 offset-lg-1">
        <p>profile status</p>
      </div>
    </mat-card>

  </div>
  <div class="col-lg-3 p-0 m-0">
    <mat-toolbar color="primary">
      <span>Friends</span>
      <span class="example-fill-remaining-space"></span>
    </mat-toolbar>

    <mat-list class="profile-friends p-0">
      <cdk-virtual-scroll-viewport itemSize="5">
        <ng-container *cdkVirtualFor="let friend of friendList">
          <mat-list-item (click)="selectedFriend = friend.email">
            {{friend.email}}
            <mat-divider></mat-divider>
          </mat-list-item>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </mat-list>
    <div class="add-friend">
      <button mat-raised-button (click)="showAddFriendDialog()">Add friend</button>
      <button *ngIf="selectedFriend" mat-raised-button class="alert" (click)="removeFriend()">Remove friend</button>
    </div>
  </div>
</div>
