<!--<div class="wrapper wrapper-full-page ">-->
<div class="jumbotron d-flex justify-content-center">
  <div class="container align-middle">
    <div class="col-lg-6 offset-md-3">
      <mat-card>
        <mat-card-title>Sign in</mat-card-title>
        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
          <p>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="E-mail address" formControlName="email">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field class="example-full-width">
              <input type="password" matInput maxlength="256" placeholder="Password" formControlName="password">
            </mat-form-field>

          </p>
          <button mat-raised-button class="btn-primary text-center float-right w-25" type="submit">Sign in</button>
          <button mat-raised-button class="btn-primary text-center w-25" routerLink="/register">Register</button>
        </form>
      </mat-card>
      <div *ngIf="form.password.errors" class="invalid-feedback">
        <div *ngIf="form.password.errors.required">Password is required</div>
      </div>
    </div>
  </div>
</div>


<!--<div class="form-signin">-->
<!--<h2 class="form-signin-heading">Please sign in</h2>-->
<!--<div class="row">-->
<!--<label for="username" class="sr-only">Username</label>-->
<!--<input type="text" id="username" name="username" class="form-control" placeholder="Username" required-->
<!--autofocus>-->
<!--</div>-->
<!--<div class="row">-->
<!--<label for="password" class="sr-only">Password</label>-->
<!--<input type="password" id="password" name="password" class="form-control" placeholder="Password" required>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-lg-6">-->
<!--<button class="btn btn-lg btn-primary btn-block text-center" routerLink="/register">Register</button>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<button class="btn btn-lg btn-primary btn-block text-center">Sign in</button>-->
<!--</div>-->
<!--</div>-->
