@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tab-wrapper {
  background: whitesmoke;
  height: calc(100% - 113px);
}

/* You can add global styles to this file, and also import other style files */
