.profile-friends {
  height: calc(100% - 64px);
  //padding: 0 0 5px 0;

  cdk-virtual-scroll-viewport {
    height: 100%;
  }

  mat-list-item {
    background: #ffffff;
    text-align: left;
    border-bottom-style: solid;
    border-bottom: black;
  }
}
